<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="estilos.css">
    <title>Cliente</title>
</head>

<header>

    <div class="menu-login-cliente">
        <!-- VOLVER -->
        <div class="notificaciones">
            <a href="Index.html" class="iconos-menu">
                <ion-icon name="arrow-back-circle-outline"></ion-icon>
            </a>
        </div>
        <!-- LOGO -->
        <div class="logo"> <img src="logo.png" alt="" height="100"></div> 

        <!-- BARRA NAVBAR --> 
        <b> <div class="nombre"> ¡Hola de nuevo, Miguel! </div> </b>

        <!-- BOTONES -->
        <div class="social_media"> 
            <ion-icon name="notifications-outline" class="iconos-menu"></ion-icon>
            <ion-icon name="calendar-outline"style="height: 50px; width: 50px;" class="iconos-menu"></ion-icon>
        </div>

</header>

<body>

       <!-- CONTENIDO PRINCIPAL -->
       <div class="main_content">
        <div class="left_arrow"><img src="./images/left_hand.png" alt=""></div>
        <div class="slider_content">
            <div class="slider_description">
                <div class="slider_title">
                    <h1>Cliente</h1>
                    <div class="line_gradient">
                        <div class="line_gradient_separation"></div>
                    </div>
                </div>
                <p>¿Quieres lucir radiante y sentirte más seguro/a en tu piel? ¡Ven a nuestro centro estético y descubre cómo podemos ayudarte a alcanzar la mejor versión de ti mismo/a!</p>
                <a href="Servicios.html" class="primary_button">Saber más</a>
            </div>
            <div class="slider_image">
                <img src="clinica.jpg" alt="imagen-instalaciones" class="circular-image">
            </div>
        </div>
        <div class="right_arrow"><img src="./images/right_hand.png" alt=""></div>
    </div>

    <div class="advantages">

    </div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>    
</body>
</html>