<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="estilos.css">
    <title> Cliente </title>
</head>

<header>

    <div class="menu-login">
        <!-- VOLVER -->
        <div class="volver">
            <a href="Index.html" class="iconos-menu">
                
            </a>
        </div>
        <!-- LOGO -->
        <div class="logo"> <img src="logo.png" alt="" height="100"></div> 

        <!-- BARRA NAVBAR --> 
        <b> <div class="nombre"> ¡Bienvenido de nuevo, Miguel! </div> </b>

        <!-- BOTONES -->
        <div class="social_media"> 

            <ion-icon name="notifications-outline" class="iconos-menu"></ion-icon>
            <ion-icon name="calendar-outline" class="iconos-menu" onclick="redirectToCalendarPage()"></ion-icon>
            <button id="user-btn" class="iconos-menu">
                <ion-icon name="person-circle-outline"></ion-icon>
            </button>
            <div id="user-popup"></div>
              
        </div>

</header>

<body>
    
    <script>
        function redirectToCalendarPage() {
            window.location.href = "calendario-cliente.html"; /* ESTA FUNCION ES COMPARTIDA CON EL CLIENTE */
        }
    </script>

    <style>
        
        h1{
            color: #054965;
        }

    </style>
       <!-- CONTENIDO PRINCIPAL -->
       <div class="main_content">
        <div class="left_arrow"><img src="./images/left_hand.png" alt=""></div>
        <div class="slider_content">
            <div class="slider_description">
                <div class="slider_title">
                    <h1>Cliente</h1>
                    <div class="line_gradient">
                        <div class="line_gradient_separation"></div>
                    </div>
                </div>

                <div class="enlaces">
                    
                    <div class="inventario">
                        <a href="Administrador-inventario.html"> Solicitar una cita </a><br>
                    </div>
                   
                    <div class="usuarios">
                        <a href="productos.html"> Cancelar cita </a><br>
                    </div>

                    <div class="clientes">
                        <a href="productos.html"> Historial medico </a><br>
                    </div>

                </div>

            </div>

        </div>
        <div class="right_arrow"><img src="./images/right_hand.png" alt=""></div>
    </div>

    <div class="advantages">

    </div>

    <script src="script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>    
</body>
</html>