<!DOCTYPE html>
<html>

<head>
  <form action="login.html" method="post">
    <input type="image" src="../resources/botonIngresar.png" alt="Botón de ingresar"
      style="position: absolute; top: 60px; left: 1350px;">
  </form>
  <title></title>
</head>

<body>
  <link rel="stylesheet" type="text/css" href="../css/estilos.css">
  <h1></h1>
  <input type="image" src="../resources/img1.png" alt="imagen1" style="position: absolute; top: 380px; left: 15px;">
  <input type="image" src="../resources/mensaje1.png" alt="mensaje1"
    style="position: absolute; top: 600px; left: 580px;">
  <input type="image" src="../resources/botonAdelante.png" alt="Botón de adelante"
    style="position: absolute; top: 640px; left: 1300px;">
  <input type="image" src="../resources/botonAtras.png" alt="Botón de atras"
    style="position: absolute; top: 640px; left: 100px;">
</body>

</html>