
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="estilos.css">
    <title> Nosotros </title>
</head>

<header>

    <div class="menu">
        <!-- LOGO -->
        <div class="logo"> <img src="logo.png" alt="logo de la empresa en formato PNG" height="100"></div> 
        <!-- BARRA NAVBAR --> 
        <div>
            <ul class="menu_items">
                <li style="text-decoration: none;"><a href="Servicios.html">Servicios</a></li>
                <li><a href="Nosotros.html">Contactanos</a></li>
                <li><a href="Login.html">Login</a></li>
            </ul>
        </div>
        <!-- REDES SOCIALES -->
        <div class="social_media"> 
            <ion-icon name="logo-facebook" style="height: 50px; width: 50px;"></ion-icon>
            <ion-icon name="logo-instagram" style="height: 50px; width: 50px;"></ion-icon>
            <ion-icon name="logo-tiktok" style="height: 50px; width: 50px;"></ion-icon>
        </div>
    </div>

</header>

<body>

    <!-- CONTENIDO PRINCIPAL -->
    <div class="main_content">
        <div class="left_arrow"><img src="./images/left_hand.png" alt=""></div>
        <div class="slider_content">
            <div class="slider_description">
                <div class="slider_title">
                    <h1> Profesionales altamente capacitados. </h1>
                    <div class="line_gradient">
                        <div class="line_gradient_separation"></div>
                    </div>
                </div>
                <p> Contamos con personal altamente calificado, quienes están comprometidos en brindarle a nuestros pacientes los mejores tratamientos y resultados. </p>
            </div>
            <div class="slider_image">
                <img src="nurse.jpg" alt="imagen-doctora" class="circular-image">
            </div>
        </div>
        <div class="right_arrow"><img src="./images/right_hand.png" alt=""></div>
    </div>

    <div class="advantages">

    </div>

    <a href="https://wa.me/xxxxxxxxxx" class="whatsapp" target="_blank">
        <ion-icon name="logo-whatsapp" style="height: 50px; width: 50px;"></ion-icon>
    </a>



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>