<!DOCTYPE html>
<html>

<head>
  <div action="login.html" method="post">
    <input type="image" src="../resources/botonVacio.png" alt="Botón de ingresar"
      style="position: absolute; top: 60px; left: 1350px;">
    <label for="EntradaNombres" style="position: absolute; top: 75px; left: 1360px;">US</label>
  </div>
  <form action="VerCitas.html" method="post">
    <input type="image" src="../resources/botonCalendario.png" alt="Botón de lista de usuarios"
      style="position: absolute; top: 55px; left: 1220px;">
  </form>
  <style>
    label {
      display: block;
      font-size: 40px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 10px;
    }
  </style>
  <title></title>
</head>

<body>
  <link rel="stylesheet" type="text/css" href="estilos.css">
  <h1></h1>
  <input type="image" src="../resources/img1.png" alt="imagen1" style="position: absolute; top: 380px; left: 15px;">
  <input type="image" src="../resources/mensaje1.png" alt="mensaje1"
    style="position: absolute; top: 600px; left: 580px;">
  <input type="image" src="../resources/botonAdelante.png" alt="Botón de adelante"
    style="position: absolute; top: 640px; left: 1300px;">
  <input type="image" src="../resources/botonAtras.png" alt="Botón de atras"
    style="position: absolute; top: 640px; left: 100px;">
</body>

</html>