body {
  margin: 0;
  padding: 0;
  background: url(../resources/PaginaPrincipalActualizada.png);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  height: 1124px; /* altura en píxeles */
  overflow-y: scroll;
  position: relative; /* posición relativa para permitir la propiedad overflow */
}
.container {
  margin: 2rem auto;
  max-width: 400px;
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}






